[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
[submodule "prql"]
	path = prql
	url = https://github.com/PRQL/prql
[submodule "corrosion"]
	path = corrosion
	url = https://github.com/corrosion-rs/corrosion.git
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = git@github.com:duckdb/extension-ci-tools.git
