[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
[submodule "prql"]
	path = prql
	url = https://github.com/PRQL/prql
[submodule "corrosion"]
	path = corrosion
	url = https://github.com/corrosion-rs/corrosion.git
[submodule "duckdb-wasm"]
	path = duckdb-wasm
	url = https://github.com/duckdb/duckdb-wasm
